/* @import "tailwindcss"; */

*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
}
.navbar{
    background-image: linear-gradient(to top, red 0%, black 100%);
    padding: 20px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid black;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar h1{
    color: red;
}
.links{
    margin-left: auto;
}
