/* @import "tailwindcss"; */

*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
}
.navbar{
    background-image: linear-gradient(to top, red 0%, black 100%);
    padding: 20px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgb(141, 129, 129);
    margin: 0 auto;
    justify-content: space-between;
}
.navbar h1{
    color: red;
}
.links{
    margin-left: auto;
}
.links a{
    text-decoration: none;
    padding: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
}
.links a:hover{
    color: red;
    transition: 0.3ease;
    transition: transform 0.5s ease;
}
.content{
    text-align: center;
}